footer{
    background: url('../img/manette_illustration.jpg');
    width: 100%;
    height:5%;
    margin: 0;
    padding: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
    bottom: 0;
    position: fixed;
}

